@import '../../vars.css';

.FlexSpacing{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.FlexSpacing *{
    width: 100%;
}

.LabelText{
    font-size: 16px;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
}