:root {
	--page-width: 320px;
	--grey: #ededed;
}

h1 {
	font-size: calc(2vw + 36px);
	text-transform: uppercase;
	margin: 0;
}

p {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

label {
	font-size: 16px;
}

input:not([type='submit']) {
	background-color: var(--grey);
	border: 0;
	border-radius: 8px;
	padding: 0.5rem;
	font-weight: bold;
	font-size: 1rem;
}
