:root {
	--page-width: 320px;
	--grey: #ededed;
	--red: #ea3449;
	--blue: #348ceb;
	--black: #181818;
}

h1 {
	font-size: 46px;
	text-transform: uppercase;
	margin: 0;
}

p,
a {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

a {
	color: var(--black);
	text-decoration-color: var(--blue);
}

h3 {
	font-size: 28px;
	font-weight: 500;
	margin: 0;
}

label {
	font-size: 16px;
}

input,
button {
	border: 0;
	border-radius: 8px;
	padding: 0.5rem;
	font-size: 1rem;
}

input {
	background-color: var(--grey);
}

button,
input[type='submit'] {
	font-weight: bold;
	color: white;
	background: var(--black);
	text-transform: uppercase;
	cursor: pointer;
}
